<!DOCTYPE html>
<html>
<head>
<title>Sitios-Rutas</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<a href="/logout"><i class="fas fa-door-open"></i> exit</a>
	<div th:switch="${sitiosrutas}">
		<div th:case="null">
			<h2>No hay sitios</h2>
			</a> <a href="/sitios-rutas/"><i class="fas fa-home ml-2"></i> Go back </a>
		</div>
		<div th:case="*">
			<form action="#" th:action="@{/sitios-rutas/buscar/}" method="get">
				<input type="hidden" placeholder="id" name="id">
			</form>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
<!-- 						<th>Id</th> -->
						<th>Id del Sitio</th>
						<th>Sitio</th>
						<th>Id de la Ruta</th>
						<th>Descripcion de la Ruta</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sr : ${sitiosrutas}">
<!-- 						<td class="text-info" th:text="${sr.shit}"></td> -->
						<td class="text-info" th:text="${sr.id.idSitio}"></td>
						<td class="text-info" th:text="${sr.tmio1Sitio1.nombre}"></td>
						<td class="text-info" th:text="${sr.id.idRuta}"></td>
						<td class="text-info" th:text="${sr.tmio1Ruta1.descripcion}"></td>

						<td><a
							th:href="@{/sitios-rutas/edit/{sitio}/{ruta}(sitio=${sr.id.idSitio},ruta=${sr.id.idRuta})}"
							class="btn btn-primary"><i class="fas fa-calendar ml-2"></i></a></td>
						<td><a
							th:href="@{/sitios-rutas/delete/{sitio}/{ruta}(sitio=${sr.id.idSitio},ruta=${sr.id.idRuta})}"
							class="btn btn-primary"><i class="fas fa-trash"></i></a></td>
					</tr>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/sitios-rutas/add/}" class="btn btn-primary"><i
				class="fas fa-cross"></i></a> <a href="/"><i
				class="fas fa-home ml-2"></i> Go back to main</a>
		</div>
	</div>
</body>
</html>